<head>
	<title>User-Home</title>
	<!-- Meta tag Keywords -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8" />
	<meta name="keywords" content="FarmBizz Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design"
	/>
	<!-- //Meta tag Keywords -->

	<!-- Favicon -->
    <link rel="icon" href="images/favicon.png" type="image/x-icon" />
	<!-- Custom-Files -->
	<link rel="stylesheet" href="/css/bootstrap.css">
	<!-- Bootstrap-Core-CSS -->
	<link rel="stylesheet" href="/css/lightbox.css">
	<!-- lightbox css -->
	<link rel="stylesheet" href="/css/owl.carousel.css" type="text/css" media="all">
	<link rel="stylesheet" href="/css/owl.theme.css" type="text/css" media="all">
	<!-- Carousel (for News section) -->
	<link rel="stylesheet" href="/css/flexslider.css" type="text/css" media="screen" property="" />
	<!-- Flexslider css (for Testimonials) -->
	<link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
	<!-- Style-CSS -->
	<link rel="stylesheet" href="/css/fontawesome-all.css">
	<!-- Font-Awesome-Icons-CSS -->
	<!-- //Custom-Files -->

	<!-- Web-Fonts -->
	<link href="//fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i&amp;subset=cyrillic,latin-ext,vietnamese"
	    rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=devanagari,latin-ext"
	    rel="stylesheet">
	<!-- //Web-Fonts -->

</head>
		<!-- navigation -->
		<nav class="navbar navbar-expand-lg navbar-light px-sm-5 px-3 py-0">
			<h1>
				<a class="navbar-brand py-2" href="/"><img src="/images/logo.png" alt="logo"></a>
			</h1>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
			    aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ml-auto px-lg-4 py-4">
					<li class="nav-item mx-lg-3 my-lg-0 my-3">
						<a class="nav-link js-scroll-trigger" href="/">Home
							
						</a>
					</li>
                    <li class="nav-item mx-lg-3 my-lg-0 my-3">
						<a class="nav-link js-scroll-trigger" href="/user">My Account</a>
					</li>

					<li class="nav-item mx-lg-3 my-lg-0 my-3">
						<a class="nav-link active" href="/user/myOrders">My Orders</a>
					</li>
					<li class="nav-item mx-lg-3">
						<a class="nav-link js-scroll-trigger" href="/user/order">Pantry</a>
					</li>
					<li class="nav-item mx-lg-3 my-lg-0 my-3">
						<a class="nav-link js-scroll-trigger" href="/user/logout">Logout</a>
					</li>
					
				</ul>
			</div>
		</nav>
		<!-- //navigation -->


<body >
    <br>  
    <h2 style="margin-left :40%;">My Orders</h2>
    <hr>
    <% for(var i of allOrders) {%>
        <% var orderId %>
        <% var total = 0 %>
        <h4 style="margin-left: 10%;">Order Bill</h4>
        <table style="margin-left: 10%;">
            <tr>
                <th style="width: 40%;">Item Name</th>
                <th style="width: 25%;">Price</th>
                <th style="width: 25%;">Quantity</th>
                <th style="width: 25%;">Total</th>
            </tr>
            <% for(var j of i) {%>
                <% orderId = j.orderId %>
                <tr>
                    <td>
                        <%= j.itemName %>
                    </td>
                    <td>

                        <%= j.itemPrice %>
                    </td>
                    <td>
                        <%= j.itemQuantity %>

                    </td>
                    <td><%= j.itemPrice * j.itemQuantity %></td>
                    <% total = total + (j.itemPrice * j.itemQuantity) %>
                </tr>
                
                <br>
            <% } %>
            <tr>
                <th>Total</th>
                <th></th>
                <th></th>
                <th><%= total %></th>
            </tr>
        </table>
            <div style="margin-left :90%;  ">
                <a href="cancelOrder/<%= orderId %>"><button class="btn btn-danger">Cancel Order</button></a>
            </div>
        
            <br>
            <hr>
    <% } %>
</body>